.sideNavBar{
    position:fixed;
    background-color: #b6b6aa;
    border: 1px solid black;
    border-radius: 10px;
    z-index:20;
}

.menuButton {
    border: 1px black;
}
.hidden {
    display:none;
}
.carousel {
    /* margin:100px auto; */
    width:150%;
    border: 2px solid red;
    display:flex;
    overflow-x:auto;
    transform:rotate(-45deg);
}
.carousel::-webkit-scrollbar{
    display:none;
}
.group{
    display:flex;
    gap:2em;
    animation:spin 10s infinite linear;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
  will-change: transform;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.card {
    flex:0 0 5em;
    height:2em;
    padding:1em;
    background:honeydew;
    font-size: 3rem;
    border-radius:0.2em;
}
.carousel {
 overflow: hidden;
 width: 100%;
}

.carousel-track {
 display: flex;
 width: max-content;
 animation: spin 25s linear infinite;
 will-change: transform;
}

.carousel-slide {
 min-width: 250px; /* adjust if needed */
 margin-right: 20px;
}

@keyframes scroll {
 from { transform: translateX(0); }
 to { transform: translateX(-50%); }
}
